.portfolio-wrapper {
  display: flex;
  list-style: none;
  align-items: center;
  background-color: black;
}
.portfolio-title {
  color: whitesmoke;
  text-align: center;
  font-size: 7vw;
  margin-top: 10%;
}
.repo-link {
  color: white;
  text-decoration: underline;
  font-size: 30px;
}
.portfolio-image {
  height: 100vw;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  /* Desktop styles */
  .portfolio-title {
    font-size: 5vw;
  }
  .portfolio-image {
    height: 80vw;
    width: 80vw;
    margin: 10% 10% 0%;
  }

}
